* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}
body {
  padding-top: 50px;

  width: 100vw;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  min-width: 500px;
  /* overflow-x: hidden; */
  /* background-color: rgb(216, 216, 216); */
  background: radial-gradient(circle, gray, white);
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}
